In [4]:
import pandas as pd

DATASET_PATH = '../risultati/mix-t06.csv'
df = pd.read_csv(DATASET_PATH)

In [7]:
df[df['provider'] == 'terraform_basics']

,test,provider,scores,n,none,c_compile,c_functional,c_almost,c_functional_subset,pass@1_compile,pass@1_func,pass@5_compile,pass@5_func,pass@10_compile,pass@10_func
25,few_variables,terraform_basics,11111111111111111111,20,0,20,0,0,0,1.00,0.00,1.000000,0.000000,1.000000,0.0
26,one_output,terraform_basics,22202002220002200022,20,9,0,11,0,0,0.55,0.55,0.991873,0.991873,1.000000,1.0
27,one_variable,terraform_basics,10001000100000000001,20,16,4,0,0,0,0.20,0.00,0.718266,0.000000,0.956656,0.0
28,output_and_variable,terraform_basics,11111111111111111111,20,0,20,0,0,0,1.00,0.00,1.000000,0.000000,1.000000,0.0

In [31]:
NONE                = 0;    NONE_KEY='none'
COMPILE_SUCCESSES   = 1;    COMPILE_KEY='c_compile'
FUNCTIONAL_SUCCESS  = 2;    FUNCTIONAL_KEY='c_functional'
ALMOST_SUCCESS      = 3;    ALMOST_KEY='c_almost'
SUBSET_SUCCESS      = 4;    SUBSET_KEY='c_functional_subset'
SCORES_KEY = 'scores'
N_KEY = 'n'

In [32]:
from utils import pass_at_k

COUNT_ALMOST_AS_FUNC = False
COUNT_SUBSET_AS_FUNC = True

compile_match   = [COMPILE_KEY, ALMOST_KEY, SUBSET_KEY, FUNCTIONAL_KEY]
func_match      = [FUNCTIONAL_KEY]

if COUNT_ALMOST_AS_FUNC:    func_match.append(ALMOST_KEY)
if COUNT_SUBSET_AS_FUNC:    func_match.append(SUBSET_KEY)

In [33]:
from typing import List


def sum_over_columns(x: dict, columns: List[str]) -> int:
    return sum([int(x[key]) for key in columns])

In [40]:
K = 10
COMPILE_K_KEY = f"pass@{K}_compile"
FUNC_K_KEY = f"pass@{K}_func"


df[COMPILE_K_KEY]   = df.apply(lambda x: pass_at_k(x[N_KEY], sum_over_columns(x, compile_match), K), axis=1)
df[FUNC_K_KEY]      = df.apply(lambda x: pass_at_k(x[N_KEY], sum_over_columns(x, func_match), K), axis=1)

In [16]:
df

,test,provider,scores,none,c_compile,c_functional,c_almost,c_functional_subset,n,pass@5_compile,pass@5_func,pass@1_compile,pass@1_func,pass@10_compile,pass@10_func
0,apigatewayv2_api,aws,11001211010111101021,6,12,2,0,0,20,0.999613,0.447368,0.700000,0.100000,1.000000,0.763158
1,dynamodb_table,aws,00000000000000000000,20,0,0,0,0,20,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2,iam_role,aws,22222222202222222202,2,0,18,0,0,20,1.000000,1.000000,0.900000,0.900000,1.000000,1.000000
3,instance,aws,22200202220022000002,10,0,10,0,0,20,0.983746,0.983746,0.500000,0.500000,0.999995,0.999995
4,lambda,aws,02020111112022102122,5,7,8,0,0,20,0.999936,0.948916,0.750000,0.400000,1.000000,0.999643
5,lambda_hard,aws,42002002022202000022,10,0,9,0,1,20,0.983746,0.983746,0.500000,0.500000,0.999995,0.999995
6,lb,aws,11111111111111111111,0,20,0,0,0,20,1.000000,0.000000,1.000000,0.000000,1.000000,0.000000
7,lb_hard,aws,33311111123331112000,3,9,2,6,0,20,1.000000,0.447368,0.850000,0.100000,1.000000,0.763158
8,aws_provider,aws,022202222000020222202,8,0,13,0,0,21,0.997248,0.997248,0.619048,0.619048,1.000000,1.000000
9,s3_bucket,aws,0000000002,9,0,1,0,0,10,0.500000,0.500000,0.100000,0.100000,1.000000,1.000000
10,vpc,aws,22222222220222222222,1,0,19,0,0,20,1.000000,1.000000,0.950000,0.950000,1.000000,1.000000
11,function_app_hard,azurerm,01000000000000000000,19,1,0,0,0,20,0.250000,0.000000,0.050000,0.000000,0.500000,0.000000
12,provider_block_azure,azurerm,00022021111111200000,9,7,4,0,0,20,0.991873,0.718266,0.550000,0.200000,1.000000,0.956656
13,resource_group,azurerm,11111111200020200000,9,8,3,0,0,20,0.991873,0.600877,0.550000,0.150000,1.000000,0.894737
14,security_group,azurerm,00000022220102122122,8,3,9,0,0,20,0.996388,0.970201,0.600000,0.450000,1.000000,0.999940
15,storage_account,azurerm,00022002020202000200,13,0,7,0,0,20,0.916989,0.916989,0.350000,0.350000,0.998452,0.998452
16,subnet,azurerm,02000000000000020200,17,0,3,0,0,20,0.600877,0.600877,0.150000,0.150000,0.894737,0.894737
17,virtual_network,azurerm,02222202202211112121,3,6,11,0,0,20,1.000000,0.991873,0.850000,0.550000,1.000000,1.000000
18,cloudfunctions2_function,google,22111111111111111211,0,17,3,0,0,20,1.000000,0.600877,1.000000,0.150000,1.000000,0.894737
19,compute_firewall,google,22111212222202122222,1,5,14,0,0,20,1.000000,0.999613,0.950000,0.700000,1.000000,1.000000
20,compute_instance,google,22222020202222222222,3,0,17,0,0,20,1.000000,1.000000,0.850000,0.850000,1.000000,1.000000
21,compute_subnetworks,google,11111111111111111112,0,19,1,0,0,20,1.000000,0.250000,1.000000,0.050000,1.000000,0.500000
22,google_prov_block,google,22022022202022222220,5,0,15,0,0,20,0.999936,0.999936,0.750000,0.750000,1.000000,1.000000
23,storage_bucket,google,22212222202220020222,4,1,15,0,0,20,1.000000,0.999936,0.800000,0.750000,1.000000,1.000000
24,storage_bucket_website,google,00000000000100000000,19,1,0,0,0,20,0.250000,0.000000,0.050000,0.000000,0.500000,0.000000
25,few_variables,terraform_basics,11111111111111111111,0,20,0,0,0,20,1.000000,0.000000,1.000000,0.000000,1.000000,0.000000
26,one_output,terraform_basics,22212222122122121222,0,5,15,0,0,20,1.000000,0.999936,1.000000,0.750000,1.000000,1.000000
27,one_variable,terraform_basics,01110101101111111101,5,15,0,0,0,20,0.999936,0.000000,0.750000,0.000000,1.000000,0.000000
28,output_and_variable,terraform_basics,22222222112212122222,0,4,16,0,0,20,1.000000,1.000000,1.000000,0.800000,1.000000,1.000000

In [66]:
df.groupby(by='provider').mean(numeric_only=True)

,n,none,c_compile,c_functional,c_almost,c_functional_subset,pass@1_compile,pass@1_func,pass@5_compile,pass@5_func,pass@10_compile,pass@10_func
provider,,,,,,,,,,,,
aws,19.0,3.727273,3.090909,9.090909,2.363636,0.727273,0.772727,0.496411,0.863631,0.796487,0.909091,0.896528
azurerm,20.0,4.857143,3.000000,11.857143,0.000000,0.285714,0.757143,0.607143,0.845284,0.738141,0.856922,0.785493
google,20.0,3.000000,6.142857,10.571429,0.000000,0.285714,0.850000,0.542857,0.857143,0.701266,0.857143,0.714065
terraform_basics,20.0,6.250000,11.000000,2.750000,0.000000,0.000000,0.687500,0.137500,0.927535,0.247968,0.989164,0.250000

In [60]:
df.groupby(by='provider').sum(numeric_only=True)

,n,none,c_compile,c_functional,c_almost,c_functional_subset,pass@1_compile,pass@1_func,pass@5_compile,pass@5_func,pass@10_compile,pass@10_func
provider,,,,,,,,,,,,
aws,209,41,34,100,26,8,8.50,5.460526,9.499936,8.761352,10.000000,9.861812
azurerm,140,34,21,83,0,2,5.30,4.250000,5.916989,5.166989,5.998452,5.498452
google,140,21,43,74,0,2,5.95,3.800000,6.000000,4.908862,6.000000,4.998452
terraform_basics,80,25,44,11,0,0,2.75,0.550000,3.710139,0.991873,3.956656,1.000000

In [42]:
df.to_csv(DATASET_PATH, index=False)

In [2]:
import numpy as np


# Create a new DataFrame with the desired format
new_data = {
    'test': np.repeat(df['test'].values, 3),
    'k': [1, 5, 10] * len(df),
}

# Prepare the header rows
header = pd.MultiIndex.from_product(
    [['pass@k'], ['Compile check', 'Functional Correctness'], ['Llama-2-codeonly', 'Llama-2-mix']],
    #names=['', 'Criterion', 'Model']
)

# Create the DataFrame to hold the processed data with the headers
out_df = pd.DataFrame(columns=header, data=np.zeros((len(new_data['test']), 4)))

# Fill in the new DataFrame with pass@k values
for k in [1, 5, 10]:
    for index, row in df.iterrows():
        compile_col = f'pass@{k}_compile'
        func_col = f'pass@{k}_func'
        
        # Set NaN values to 0
        compile_val = (row.get(compile_col, 0) or 0)*100
        func_val = (row.get(func_col, 0) or 0)*100
        
        # Find the correct position in the output DataFrame (3 rows per original row - for k = 1, 5, 10)
        out_idx = index * 3 + [1, 5, 10].index(k)
        
        # Update the DataFrame with the values
        out_df.at[out_idx, ('pass@k', 'Compile check', 'Llama-2-codeonly')] = compile_val
        out_df.at[out_idx, ('pass@k', 'Compile check', 'Llama-2-mix')] = compile_val
        out_df.at[out_idx, ('pass@k', 'Functional Correctness', 'Llama-2-codeonly')] = func_val
        out_df.at[out_idx, ('pass@k', 'Functional Correctness', 'Llama-2-mix')] = func_val

# Insert the 'test' and 'k' columns as the first level of the MultiIndex
out_df.insert(0, 'k', new_data['k'])
out_df.insert(0, 'test', new_data['test'])

out_df['provider'] = df['provider'].repeat(3).reset_index(drop=True)
out_df = out_df.round(1)

In [57]:
out_df.to_csv('../risultati/codeonly_transformed_data.csv', index=False)

Save aws files rows

In [61]:
out_df[out_df['provider'] == 'azurerm'].to_csv('../risultati/codeonly_transformed_data_azure.csv', index=False)

In [3]:
out_df[out_df['provider'] == 'azurerm']

                    test   k           pass@k              \
                                Compile check
                             Llama-2-codeonly Llama-2-mix
33     function_app_hard   1              5.0         5.0
34     function_app_hard   5             25.0        25.0
35     function_app_hard  10             50.0        50.0
36  provider_block_azure   1             55.0        55.0
37  provider_block_azure   5             99.2        99.2
38  provider_block_azure  10            100.0       100.0
39        resource_group   1             55.0        55.0
40        resource_group   5             99.2        99.2
41        resource_group  10            100.0       100.0
42        security_group   1             60.0        60.0
43        security_group   5             99.6        99.6
44        security_group  10            100.0       100.0
45       storage_account   1             35.0        35.0
46       storage_account   5             91.7        91.7
47       storage_account  10             99.8        99.8
48                subnet   1             15.0        15.0
49                subnet   5             60.1        60.1
50                subnet  10             89.5        89.5
51       virtual_network   1             85.0        85.0
52       virtual_network   5            100.0       100.0
53       virtual_network  10            100.0       100.0

                                      provider
   Functional Correctness
         Llama-2-codeonly Llama-2-mix
33                    0.0         0.0  azurerm
34                    0.0         0.0  azurerm
35                    0.0         0.0  azurerm
36                   20.0        20.0  azurerm
37                   71.8        71.8  azurerm
38                   95.7        95.7  azurerm
39                   15.0        15.0  azurerm
40                   60.1        60.1  azurerm
41                   89.5        89.5  azurerm
42                   45.0        45.0  azurerm
43                   97.0        97.0  azurerm
44                  100.0       100.0  azurerm
45                   35.0        35.0  azurerm
46                   91.7        91.7  azurerm
47                   99.8        99.8  azurerm
48                   15.0        15.0  azurerm
49                   60.1        60.1  azurerm
50                   89.5        89.5  azurerm
51                   55.0        55.0  azurerm
52                   99.2        99.2  azurerm
53                  100.0       100.0  azurerm